<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
      Voce tem certeza que deseja excluir o usuario {{u.nome}}?
      <form  method="post" action="/usuarios/delete/{{u.id}}" >
        Nome: <input name='nome' type="text" size='100' placeholder='Digite o seu nome' value="{{u.nome}}"/>
        E-mail: <input name='email' type="email" size='100' placeholder='Digite o seu email' value="{{u.email}}"/>
        <input type="submit" value="Sim">
      </form>
      <a href="/usuarios/list">Cancelar</a>
  </body>
  </html>